/* Google fonts start */


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,600;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}
.our-packege-card{
    border-radius: 25px;
    
}
.our-packege-card:hover{
    color: white;
    background-color: rgba(58, 44, 42, 0.589);
    transform: translate(0px ,-30px);
    transition: all .5s;
    
    box-shadow: 0 20px 130px -5px rgb(61, 72, 131) !important;
}